# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
node_modules
package-lock.json
**node_modules
/node_modules/
site/node_modules
site/package-lock.json

build/Release
node_modules/
jspm_packages/
.python/__pycache__
./site/src/database
./api/database.py
